* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: karla;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    color: #333;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}


.logo h1 {
    background-color: #fff;
}


.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    margin: 0 2rem;
}

.menu a {
    color: #989292;
    text-decoration: none;
}

.user img {
    width: 30px;
    
}
.user a {
    text-decoration: none;
    margin-top: 10rem;
}