* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: karla;
    color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}


main {
    margin-left: 210px;
    margin-top: 70px;
    padding: 5rem;
    
    background-color: #cf1919;
    min-height: 100vh;

}


.container {
    max-width: 1500px;
   
}

.topic {
    font-size: 30px;
    color: #fff;

}

.topic hr {
    margin-top: 1rem;
}

.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    transition: transform 0.5s ease-in-out;
    column-gap: 5px;
    justify-items: center;
}

.topic-slides {
    display: flex;
    transition: transform 0.5s ease;
}

.movie-topic {
    padding: 2rem 0;
}

.movie-list {
    padding: 2rem 0;
    background: transparent;
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .1);
    padding-right: 3rem;
}

.movie-name img {
    width: 200px;
    height: 300px;
}

.movie-info {
    padding: 2rem 0;
    color: #fff;
}

.movie-info a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}


.movie-info a:hover {
    text-decoration: underline;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

.slide-movie {
    max-width: 300px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    color: #fff;
    box-sizing: border-box;
}

.banner .slides {
    animation: slideAnimation 20s infinite linear;
}