* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: karla;
}

body::-webkit-scrollbar{
    display: none;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar{
 display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    color: #333;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}


.logo h1 {
    background-color: #fff;
}


.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    margin: 0 2rem;
}

.menu a {
    color: #989292;
    text-decoration: none;
}

.user img {
    width: 30px;

}

.user a {
    text-decoration: none;
    margin-top: 10rem;
}

.banner {
    position: relative;
    height: 900px;
    width: 1920px;
    overflow: hidden;
    background-color: #000;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.banner-info {
    max-width: 600px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-right: 5rem;
}

.banner-info h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.banner-info p {
    font-size: 18px;
    margin-bottom: 20px;
}

.banner-info button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

.container {
    max-width: 1200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    justify-items: center;

}

.movie-list {

    justify-items: center;
    background-color: #fff;
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .1);
    padding: 2rem;
}

.movie-name img {
    width: 200px;
    height: 300px;
}

.movie-info {
    padding: 2rem 0;
}